body {
	background-color: #43BAF1;
	color : #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

img {
	margin-bottom: 3rem;
	height: 450px;
        width: 450px;
	position:relative;
        display: inline-block;
}

h1, p {
	font-family: Helvectica, Arial, sans-serif;
	font-weight: 300;
	margin-bottom: 1.5rem;
}
